.image_size {
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: auto;
  background-color: rgb(255, 255, 255);

  padding: 0px 30px;
}

@media only screen and (max-width: 990px) {
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;

    padding: 0px 30px;
  }
}
