.overlay_image {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  cursor: pointer;
}

.overlay_image_content {
  visibility: hidden;
}

.post {
  position: relative;
}
